<div class="contact-section">
    <img class="heart" src="/assets/img/heart-whites.png">
    <p class="contact">Please contact us if you have any questions</p>
  <div class="container">
        <div class="call">
            <div class="phone">
                <img src="/assets/img/phone.png">
                <p>Give Us A Call</p>
            </div>
            <div>
                <p class="num1">+971 52 204 7059</p>
            </div>
        </div>
        <div class="email">
            <div class="mail">
                <img src="/assets/img/mail.png">
                <p>Send Us Email</p>
            </div>
            <div>
                <p class="email1">info@smematrimony.com</p>
            </div>
        </div>
        <div class="address">
            <div class="add">
                <img src="/assets/img/marker.png">
                <p>Head Office</p>
            </div>
            <div>
                <p class="add1">224 Dorchester place Waterloo Ontario n2t2h7 Canada.</p>
            </div>
        </div>
  </div>
</div>