
<div class="footer">
    <div class="logo">
        <img src="/assets/img/logo.png">
        <div class="nav">
            <li><a>Home</a></li>
            <li><a>Matrimonial Events</a></li>
            <li><a>Privacy Policy</a></li>
            <li><a>Terms & Conditions</a></li>
            <li><a>Contact Us</a></li>
        </div>
    </div>
    <hr>
    <div class="container">
        <div class="copyright">
            <p>Copyright © 2023 smematrimony.com - All Rights Reserved.</p>
        </div>
        <div class="socail-icon">
            <a><img class="fb" src="/assets/img/facebook.png"></a>
            <a><img class="utube" src="/assets/img/youtube.png"></a>
            <a><img class="insta" src="/assets/img/insta.png"></a>
            <a><img class="whatsapp" src="/assets/img/whatsapp.png"></a>
            <a><img class="meetup" src="/assets/img/meetup.png"></a>
        </div>
    </div>
    
</div>