
<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="/assets/img/logo.svg" ></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" rooterLink="" routerLinkActive="active-link" routerLinkActiveOptions="{exact:true}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" rooterLink="" routerLinkActive="active-link">Members</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" rooterLink="" routerLinkActive="active-link">Matrimonial Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" rooterLink="" routerLinkActive="active-link">Chat</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" rooterLink="" routerLinkActive="active-link">Interests</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" rooterLink="" routerLinkActive="active-link">Success Stories</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" rooterLink="" routerLinkActive="active-link">Plans</a>
        </li>
        <li class="nav-item" id="loginbutton">
          <a class="nav-link" style="color: white;" rooterLink="" routerLinkActive="active-link"><img src="/assets/img/user.png">Login/Register</a>
        </li>
        
      </ul>
    </div>
  </div>
</nav>

